body, ul, li {

	font-family:Verdana;

}

#menu {
	list-style:none;
	width: width: 100%;
	margin:0px auto 0px auto;
	height:20px;
	padding:0px 5px 0px 5px;


	/* Rounded Corners */
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 10px;

	/* Background color and gradients */
	
	background: #0060A0;
	background: -moz-linear-gradient(top, #3AB4E3, #013953);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3AB4E3), to(#013953));
	
	/* Borders */
	
	border: 1px solid #002232;

	-moz-box-shadow:inset 0px 0px 1px #edf9ff;
	-webkit-box-shadow:inset 0px 0px 1px #edf9ff;
	box-shadow:inset 0px 0px 1px #edf9ff;
}

#menu li {
	float:left;
	display:block;
	text-align:center;
	position:relative;
	padding: 1px 1px 1px 15px;
	margin-right:10px;
	margin-top:1px;
	border:none;
z-index: 1;
}

.nospace {
	float:left;
	display:block;
	text-align:center;
	position:relative;
	padding: 1px 5px 1px 0px;
	margin-right:10px;
	margin-top:1px;
	border:none;
}

#menu li:hover {
	border: none;
	padding: 2px 5px 4px 5px;
	background: #F4F4F4;
	
}

#menu li a {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px; 
	color: #ffffff;
	display:block;
	outline:0;
	text-decoration:none;
}
#menu li a {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px; 
	color: #ffffff;
	display:block;
	outline:0;
	text-decoration:none;
}

#menu li:hover a {
	color:#161616;
	
}
#menu li .drop {
	padding-right:15px;
	background:url("img/drop.png") no-repeat right 8px;


}
#menu li:hover .drop {
	background:url("img/drop.png") no-repeat right 7px;
}

#menu li .nodrop {
	

}
#menu li:hover .nodrop {
	background: #F4F4F4;
}

#menu select {
	background: #F4F4F4;
	display: block;
z-index: 1;
}

#menu select:onfocusin  {
	background: #F4F4F4;
	display: block;
	
}


.dropdown_1column, 
.dropdown_2columns, 
.dropdown_3columns, 
.dropdown_4columns,
.dropdown_4columns_left,
.dropdown_5columns_left,
.dropdown_5columns {
	margin:4px auto;
	float:left;
	position:absolute;
	left:-999em; /* Hides the drop down */
	text-align:left;
	padding:5px 3px 5px 3px;
	border:1px solid #777777;
	border-top:none;
	/* Gradient background */
	background:#F4F4F4;
	background: -moz-linear-gradient(top, #EEEEEE, #BBBBBB);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEEEEE), to(#BBBBBB));

	/* Rounded Corners */
	-moz-border-radius: 0px 5px 5px 5px;
	-webkit-border-radius: 0px 5px 5px 5px;
	border-radius: 0px 5px 5px 5px;
}

.dropdown_1column {width: 140px;}
.dropdown_2columns {width: 280px;}
.dropdown_3columns {width: 300px;}
.dropdown_4columns {width: 800px;}
.dropdown_4columns_left {width: 800px;}
.dropdown_5columns {width: 700px;}
.dropdown_5columns_left {width: 700px;}

#menu li:hover .dropdown_1column, 
#menu li:hover .dropdown_2columns, 
#menu li:hover .dropdown_3columns,
#menu li:hover .dropdown_4columns,
#menu li:hover .dropdown_5columns {
	left:-40px;
	top:auto;
}


#menu li:hover .dropdown_4columns_left {
	left:-100px;
	top:auto;
z-index: -1;
}
#menu li:hover .dropdown_5columns_left {
	left:-150px;
	top:auto;
}

.col_1,
.col_2,
.col_3,
.col_4,
.col_5,
.col_6{
	display:inline;
	float: left;
	position: relative;
	margin-left: 5px;
	margin-right: 5px;

}
.col_1 {width:110px;}
.col_2 {width:180px;}
.col_3 {width:410px;}
.col_4 {width:550px;}
.col_5 {width:690px;}
.col_6 {width:200px;}

#menu .menu_right {
	float:right;
	margin-right:0px;

}
#menu .menu_right a:hover{
	float:right;
	margin-right:0px;
	background: #F4F4F4;

}


#menu li .align_right {
	/* Rounded Corners */
	-moz-border-radius: 5px 0px 5px 5px;
    -webkit-border-radius: 5px 0px 5px 5px;
    border-radius: 5px 0px 5px 5px;
}

#menu li:hover .align_right {
	left:auto;
	right:-1px;
	top:auto;
}

#menu p, #menu h2, #menu h3, #menu ul li {
	font-family:Arial, Helvetica, sans-serif;
	line-height:21px;
	font-size:10px;
	text-align:left;

}
#menu h2 {
	font-size:12px;
	font-weight:bold;
	margin:7px 0 14px 0;
	padding-bottom:5px;
	border-bottom:1px solid #666666;
}
#menu h3 {
	font-size:10px;
	margin:5px 0 5px 0;
	padding-bottom:5px;
	border-bottom:1px solid #888888;
}
#menu h3.nopadding {
	font-size:10px;
	margin:5px 0 5px 0;
	padding-bottom:1px;
	border-bottom:1px solid #888888;
	line-height: 15px;
}
#menu p {
	line-height:12px;
	margin:0 0 10px 0;
}

#menu li:hover div a {
	font-size:9px;
	color:#015b86;
}
#menu li:hover div a:hover {
	color:#ffffff;
}


.strong {
	font-weight:bold;
}
.italic {
	font-style:italic;
}

.imgshadow { /* Better style on light background */
	background:#FFFFFF;
	padding:4px;
	border:1px solid #777777;
	margin-top:5px;
	-moz-box-shadow:0px 0px 5px #666666;
	-webkit-box-shadow:0px 0px 5px #666666;
	box-shadow:0px 0px 5px #666666;
}
.img_left { /* Image sticks to the left */
	width:auto;
	float:left;
	margin:5px 15px 5px 5px;
}

#menu li .black_box {
	background-color:#333333;
	color: #eeeeee;
	padding:4px 6px 4px 6px;

	/* Rounded Corners */
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

	/* Shadow */
	-webkit-box-shadow:inset 0 0 3px #000000;
	-moz-box-shadow:inset 0 0 3px #000000;
	box-shadow:inset 0 0 3px #000000;
}

#menu li ul {
	list-style:none;
	padding:0;
	margin:0 0 12px 0;
}
#menu li ul li {
	font-size:9px;
	line-height:18px;
	position:relative;
	padding:0;
	margin:0;
	float:none;
	text-align:left;
	width:130px;
}
#menu li ul li.nospace {
	font-size:9px;
	line-height:10px;
	position:relative;
	padding:0;
	margin:0;
	float:none;
	text-align:left;
	width:130px;
}

#menu li ul li:hover {
	background:none;
	border:none;
	padding:0;
	margin:0;
}

#menu li .greybox li {
	background:#F4F4F4;
	border:1px solid #bbbbbb;
	margin:0px 0px 4px 0px;
	padding:4px 6px 4px 6px;
	width:116px;

	/* Rounded Corners */
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
#menu li .greybox li:hover {
	background:#ffffff;
	border:1px solid #aaaaaa;
	padding:4px 6px 4px 6px;
	margin:0px 0px 4px 0px;
}
.search-container {
    width: 925px;
    height: 63px;
    background-color: #e1e1e1;
    position: relative;
}
.search-box select {
    width: 137px;
    height: 50px;
    border: 0;
    background-color: transparent;
    color: #4d4d4d;
    font-family: 'oswaldregular', Calibri;
    text-transform: uppercase;    
    font-size: 22px;
    padding: 10px 0 5px 6px;
    cursor:pointer;
    -webkit-appearance: none;
}
.search-box {
    display: inline-block;
    height: 50px;
    padding-top: 7px;
    padding-left: 7px;
    position:relative;
    width:128px;
}
.bedrooms-container {
    overflow: hidden;
    width: 86px;
    display: inline-block;
}
.search-container span {
    line-height: 69px;
    padding-left: 12px;
    vertical-align: top;    
    font-family: 'oswaldregular',Calibri;
    text-transform: uppercase;    
    color: #000000;
    font-size: 22px;
}