/* Root = Horizontal, Secondary = Vertical */
body {
   margin: 0px;
   padding: 0px;
   background: #FFF;
   color: #000000;
}
table.header{
   background-image: url('../../../../../images/banner.gif');
   padding: 0px;
   margin: 0px;
   border: 0 none;
   padding: 0px;
}
table.alternate{
   margin: 0px;
   padding: 0px;
   background-color: #CCDDDD;
}
table.list{
   border-width: 0px;
   border-collapse: collapse;
   border-spacing: 0px;
   border-style: outset;
   border-color: gray;
   background-color: white;
}
p {
   font: 11px Verdana;
}
a {
   color: #000000;
   text-decoration: underline;
}
a:hover {
   background: #3AB4E3;
   color: #000000;
}
table{
   margin: 0px;
   padding: 0px;

}
input{
    height: 20px;
    width: 200px;
    padding: 0px;
    border: 1px solid #000000;
    font: 12px Verdana;
}
input.chkBox{
    height: 15px;
    width: 50px;
    padding: 0px;
    border: 0px solid #000000;
    font: 12px Verdana;
}
input.chkBoxQueue {
    height: 15px;
    padding: 0px;
    width: 20px;
    border: 0px solid #000000;
    font: 12px Verdana;
}
input.longNoBorder{
    height: 15px;
    width: 300px;
    padding: 0px;
    border: 0px solid #000000;
    font: 12px Verdana;
}
input.big{
    height: 15px;
    width: 250px;
    padding: 0px;
    border: 1px solid #000000;
    font:12px Verdana;
    vertical-align: middle;
}
input.bigger{
    height: 20px;
    width: 500px;
    padding: 1px;
    border: 1px solid #000000;
    font: 15px Verdana;
}
input.header{
    height: 15px;
    width: 90px;
    padding: 0;
    border: 1px solid #000000;
    font: 12px Verdana;
}
input.headerButton{
    height: 20px;
    width: 50px;
    padding: 0;
    border: 1px solid #000000;
    font: 8px Verdana;
}
input.continue{
    padding: 0;
    border: 0px solid #000000;
    height: 20px;
    width: 120px;
}
input.go{
    padding: 0;
    border: 1px solid #000000;
    height: 20px;
    width: 45px;
    vertical-align: bottom;
}
input.small{
    height: 15px;
    width: 100px;
    padding: 0;
    border: 1px solid #000000;
    font: 12px Verdana;
}
input.medium{
    height: 15px;
    width: 150px;
    padding: 0;
    border: 1px solid #000000;
    font: 12px Verdana;
}
input.tiny{
    height: 15px;
    width: 25px;
    padding: 0;
    border: 1px solid #000000;
    font: 12px Verdana;
}
input.long{
    height: 20px;
    width: 300px;
    padding: 0;
    border: 1px solid #000000;
    font: 12px Verdana;
}
input.radio{

	padding-left:0px;
	width: 50px;
	font: 10px Verdana;
	border: 0px;
}
input.toCaps{ /* LP0074_AD */
	text-transform: uppercase;/* LP0074_AD */
}/* LP0074_AD */

td.header{
   font: bold 12px Verdana;
   color: #000000;
   margin: 0px;
   padding: 3px;
   text-align:left;
   border: 1px solid #000000;
}
td.headerCenter{
   font: bold 12px Verdana;
   color: #000000;
   margin: 0px;
   padding: 3px;
   text-align:center;
   border: 1px solid #000000;
	vertical-align: top;
}
td.headerWhite{
   font: bold 12px Verdana;
   color: #FFFFFF;
   margin: 0px;
   padding: 0px;
   text-align:left;
}
td.headerWhitePadded{
   font: bold 12px Verdana;
   color: #FFFFFF;
   margin: 3px;
   padding: 3px;
   text-align:left;
}
td.center{
   font: 12px Verdana;
   color: #000000;
   margin: 0px;
   padding: 0px;
   text-align: center;
}
td.dimCenter{
   font: 12px Verdana;
   color: #717D7D;
   margin: 0px;
   padding: 0px;
   text-align: center;
}
td.top{
   font: 12px Verdana;
   color: #000000;
   margin: 0px;
   padding: 0px;
   text-align: left;
   vertical-align: top;
}
td.boldTop{
   font: bold 12px Verdana;
   color: #000000;
   margin: 0px;
   padding: 0px;
   text-align: left;
   vertical-align: top;
}
td.boldMed{
   font: bold 13px Verdana;
   color: #000000;
   margin: 0px;
   padding: 3px;
   text-align:left;
}
td.boldMedTop{
   font: bold 13px Verdana;
   color: #000000;
   margin: 0px;
   padding: 3px;
   text-align:left;
   vertical-align: top;
}
td.boldBig{
   font: bold 14px Verdana;
   color: #000000;
   margin: 0px;
   padding: 3px;
   text-align:left;
}
td.regBig{
   font: 14px Verdana;
   color: #000000;
   margin: 0px;
   padding: 3px;
   text-align:left;
}
td.boldTop{
   font:  bold 12px Verdana;
   color: #000000;
   margin: 0px;
   padding: 4px;
   text-align: left;
   vertical-align: top;
}
td.link{
   font: 12px Verdana;
   color: #0000FF;
   margin: 0px;
   padding: 0px;
   text-align: left;
}
td{
   font: 12px Verdana;
   color: #000000;
   margin: 0px;
   padding: 0.1em;
   text-align: left;
}
td.padded{
   font: 12px Verdana;
   color: #000000;
   margin: 2px;
   padding: 2px;
   text-align: left;
   vertical-align: top;
}
td.paddedBorder{
   font: 11px Verdana;
   color: #000000;
   margin: 2px;
   padding: 2px;
   text-align: left;
   vertical-align: top;
   border-width: 1px;
   border-style: inset;
}
td.centerBorder{
   font: 11px Verdana;
   color: #000000;
   margin: 0px;
   padding: 0px;
   text-align: center;
   border-width: 1px;
   border-style: inset;
}
td.right{
   font: 12px Verdana;
   color: #000000;
   margin: 0px;
   padding: 0px;
   text-align: right;
}
td.small{
   font: 9px Verdana;
   color: #000000;
   margin: 0px;
   padding: 0px;
   left: 50px;
}
td.bold{
   font: bold 12px Verdana;
   color: #000000;
   margin: 0px;
   padding: 3px;
   text-align:left;
}
td.boldCenter{
   font: bold 12px Verdana;
   color: #000000;
   margin: 0px;
   padding: 3px;
   text-align:center;
}
td.boldRight{
   font: bold 12px Verdana;
   color: #000000;
   margin: 0px;
   padding: 3px;
   text-align:right;
}
td.boldRightBottom{
   font: bold 12px Verdana;
   color: #000000;
   margin: 0px;
   padding: 3px;
   text-align:right;
   vertical-align: bottom;
}
td.title{
   font: bold 12px Verdana;
   color: #000000;
   margin: 0px;
   padding: 0px;
   text-align:center;
}
td.titleBig{
   font: bold 14px Verdana;
   color: #000000;
   margin: 0px;
   padding: 0px;
   text-align:center;
}
td.alternateBack{
   font: bold 14px Verdana;
   color: #000000;
   margin: 0px;
   padding: 0px;
   text-align:left;
   background: #DEDEDE;
}
td.uploadButton{
   font: bold 12px Verdana;
   color: #000000;
   margin: 0px;
   padding: 0px;
   text-align:left;
   height: 20px;
}
tr.big{
    height: 25px;
}
tr.header{
   margin: 0px;
   padding: 0px;
   text-align: left;
   background: #DEDEDE;
   border: 1px solid #000000;
}
tr.headerBlue{
   margin: 0px;
   padding: 0px;
   text-align: left;
   background: #0060A0;
}
tr.alternate{
   margin: 0px;
   padding: 0px;
   text-align: left;
   background: #CCDDDD;
}
tr.drkBlue{
   margin: 0px;
   padding: 0px;
   text-align: left;
   background: #003399;
}
tr.red{
   margin: 0px;
   padding: 0px;
   text-align: left;
   background: #CC3333;
   border-width:1px 0;
   border-style:solid;
   border-color:black
}
.hoverHighlight tr:hover{
   background: #3AB4E3;
   color: #000000;
}
.hoverHighlight tr{
   background: #CCC;
}
select{
   height: 20px;
    width: 200px;
    padding: 0px;
    border: 1px solid #000000;
    font: 12px Verdana;
}
select.long{
    height: 20px;
    width: 500px;
    padding: 0px;
    border: 1px solid #000000;
    font: 12px Verdana;
    vertical-align: bottom;
}
select.med{
    height: 20px;
    width: 350px;
    padding: 0;
    border: 1px solid #000000;
    font: 12px Verdana;
    vertical-align: bottom;
}
select.small{
   height: 20px;
    width: 75px;
    padding: 0;
    border: 1px solid #000000;
    font: 12px Verdana;
}
select.tiny{
   height: 20px;
    width: 40px;
    padding: 0;
    border: 1px solid #000000;
    font: 12px Verdana;
}
option.red{
	font: bold 12px Verdana;
    color: #FF0000;
    margin: 0px;
    padding: 0px;
    text-align: left;
}
.google-visualization-table-table {
	background: none repeat scroll 0 0 white;
	border-spacing: 0;
	cursor: default;
	font-family: verdana, arial, helvetica;
	font-size: 9pt;
	width: 100%;

}

.google-visualization-table-tr-headt {
	font-weight: bold;
	font-family: verdana, arial, helvetica;
	font-size: 9pt;
	background: #fff url(title-bg.gif) repeat-x left bottom;
	text-align: center;

}
div.center{
	text-align: center ;
}

body, ul, li {

	font-family:Verdana;

}

#menu {
	list-style:none;
	width: 98%;
	margin:0px auto 0px auto;
	height:20px;
	padding:0px 5px 0px 5px;


	/* Rounded Corners */

	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 10px;

	/* Background color and gradients Needs to be change on go-live back to standard colors*/
/*
	background: #0060A0;
	background: -moz-linear-gradient(top, #3AB4E3, #013953);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3AB4E3), to(#013953));
*/	
	background: #FF5733;
	background: -moz-linear-gradient(top, #FF5733, #013953);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FF5733), to(#013953));
	

	/* Borders */

	border: 1px solid #002232;

	-moz-box-shadow:inset 0px 0px 1px #edf9ff;
	-webkit-box-shadow:inset 0px 0px 1px #edf9ff;
	box-shadow:inset 0px 0px 1px #edf9ff;
}

#menu li {
	float:left;
	display:block;
	text-align:center;
	position:relative;
	padding: 1px 1px 1px 15px;
	margin-right:10px;
	margin-top:1px;
	border:none;
z-index: 1;
}

.nospace {
	float:left;
	display:block;
	text-align:center;
	position:relative;
	padding: 1px 5px 1px 0px;
	margin-right:10px;
	margin-top:1px;
	border:none;
}

#menu li:hover {
	border: none;
	padding: 2px 5px 4px 5px;
	background: #F4F4F4;

}

#menu li a {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color: #ffffff;
	display:block;
	outline:0;
	text-decoration:none;
}
#menu li a {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color: #ffffff;
	display:block;
	outline:0;
	text-decoration:none;
}

#menu li:hover a {
	color:#161616;

}
#menu li .drop {
	padding-right:15px;
	background:url("img/drop.png") no-repeat right 8px;


}
#menu li:hover .drop {
	background:url("img/drop.png") no-repeat right 7px;
}

#menu li .nodrop {


}
#menu li:hover .nodrop {
	background: #F4F4F4;
}

#menu select {
	background: #F4F4F4;
	display: block;
z-index: 1;
}

#menu select:onfocusin  {
	background: #F4F4F4;
	display: block;

}


.dropdown_1column,
.dropdown_2columns,
.dropdown_3columns,
.dropdown_4columns,
.dropdown_4columns_left,
.dropdown_5columns_left,
.dropdown_5columns {
	margin:4px auto;
	float:left;
	position:absolute;
	left:-999em; /* Hides the drop down */
	text-align:left;
	padding:5px 3px 5px 3px;
	border:1px solid #777777;
	border-top:none;
	/* Gradient background */
	background:#F4F4F4;
	background: -moz-linear-gradient(top, #EEEEEE, #BBBBBB);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEEEEE), to(#BBBBBB));

	/* Rounded Corners */
	-moz-border-radius: 0px 5px 5px 5px;
	-webkit-border-radius: 0px 5px 5px 5px;
	border-radius: 0px 5px 5px 5px;
}

.dropdown_1column {width: 140px;}
.dropdown_2columns {width: 280px;}
.dropdown_3columns {width: 300px;}
.dropdown_4columns {width: 1100px;}
.dropdown_4columns_left {width: 1100px;}
.dropdown_5columns {width: 700px;}
.dropdown_5columns_left {width: 700px;}

#menu li:hover .dropdown_1column,
#menu li:hover .dropdown_2columns,
#menu li:hover .dropdown_3columns,
#menu li:hover .dropdown_4columns,
#menu li:hover .dropdown_5columns {
	left:-40px;
	top:auto;
}


#menu li:hover .dropdown_4columns_left {
	left:-100px;
	top:auto;
z-index: -1;
}
#menu li:hover .dropdown_5columns_left {
	left:-150px;
	top:auto;
}

.col_1,
.col_2,
.col_3,
.col_4,
.col_5,
.col_6{
	display:inline;
	float: left;
	position: relative;
	margin-left: 5px;
	margin-right: 5px;

}
.col_1 {width:147px;}
.col_2 {width:180px;}
.col_3 {width:410px;}
.col_4 {width:550px;}
.col_5 {width:1100px;}
.col_6 {width:200px;}

#menu .menu_right {
	float:right;
	margin-right:0px;

}
#menu .menu_right a:hover{
	float:right;
	margin-right:0px;
	background: #F4F4F4;

}


#menu li .align_right {
	/* Rounded Corners */
	-moz-border-radius: 5px 0px 5px 5px;
    -webkit-border-radius: 5px 0px 5px 5px;
    border-radius: 5px 0px 5px 5px;
}

#menu li:hover .align_right {
	left:auto;
	right:-1px;
	top:auto;
}

#menu p, #menu h2, #menu h3, #menu ul li {
	font-family:Arial, Helvetica, sans-serif;
	line-height:21px;
	font-size:11px;
	text-align:left;

}
#menu h2 {
	font-size:13px;
	font-weight:bold;
	margin:7px 0 14px 0;
	padding-bottom:5px;
	border-bottom:1px solid #666666;
}
#menu h3 {
	font-size:11px;
	margin:5px 0 5px 0;
	padding-bottom:5px;
	border-bottom:1px solid #888888;
}
#menu h3.nopadding {
	font-size:11px;
	margin:5px 0 5px 0;
	padding-bottom:1px;
	border-bottom:1px solid #888888;
	line-height: 15px;
}
#menu p {
	line-height:12px;
	margin:0 0 10px 0;
}

#menu li:hover div a {
	font-size:10px;
	color:#015b86;
}
#menu li:hover div a:hover {
	color:#ffffff;
}


.strong {
	font-weight:bold;
}
.italic {
	font-style:italic;
}

.imgshadow { /* Better style on light background */
	background:#FFFFFF;
	padding:4px;
	border:1px solid #777777;
	margin-top:5px;
	-moz-box-shadow:0px 0px 5px #666666;
	-webkit-box-shadow:0px 0px 5px #666666;
	box-shadow:0px 0px 5px #666666;
}
.img_left { /* Image sticks to the left */
	width:auto;
	float:left;
	margin:5px 15px 5px 5px;
}

#menu li .black_box {
	background-color:#333333;
	color: #eeeeee;
	padding:4px 6px 4px 6px;

	/* Rounded Corners */
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

	/* Shadow */
	-webkit-box-shadow:inset 0 0 3px #000000;
	-moz-box-shadow:inset 0 0 3px #000000;
	box-shadow:inset 0 0 3px #000000;
}

#menu li ul {
	list-style:none;
	padding:0;
	margin:0 0 12px 0;
}
#menu li ul li {
	font-size:10px;
	line-height:18px;
	position:relative;
	padding:0;
	margin:0;
	float:none;
	text-align:left;
	width:130px;
}
#menu li ul li.nospace {
	font-size:10px;
	line-height:10px;
	position:relative;
	padding:0;
	margin:0;
	float:none;
	text-align:left;
	width:130px;
}

#menu li ul li:hover {
	background:none;
	border:none;
	padding:0;
	margin:0;
}

#menu li .greybox li {
	background:#F4F4F4;
	border:1px solid #bbbbbb;
	margin:0px 0px 4px 0px;
	padding:4px 6px 4px 6px;
	width:116px;

	/* Rounded Corners */
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
#menu li .greybox li:hover {
	background:#ffffff;
	border:1px solid #aaaaaa;
	padding:4px 6px 4px 6px;
	margin:0px 0px 4px 0px;
}
.search-container {
    width: 925px;
    height: 63px;
    background-color: #e1e1e1;
    position: relative;
}
.search-box select {
    width: 137px;
    height: 50px;
    border: 0;
    background-color: transparent;
    color: #4d4d4d;
    font-family: 'oswaldregular', Calibri;
    text-transform: uppercase;
    font-size: 22px;
    padding: 10px 0 5px 6px;
    cursor:pointer;
    -webkit-appearance: none;
}
.search-box {
    display: inline-block;
    height: 50px;
    padding-top: 7px;
    padding-left: 7px;
    position:relative;
    width:128px;
}
.bedrooms-container {
    overflow: hidden;
    width: 86px;
    display: inline-block;
}
.search-container span {
    line-height: 69px;
    padding-left: 12px;
    vertical-align: top;
    font-family: 'oswaldregular',Calibri;
    text-transform: uppercase;
    color: #000000;
    font-size: 22px;
}